<!-- Main -->
<div id="main">
    <!-- Main Image -->
    <article class="row">
        <div class="8u 12u$(medium)">
            <strong>INFLUENCING MACHINE presents</strong>
            <span class="image fit" style="margin-top: 5px;">
                <img src="{{ "/images/twot-poster.jpg" | prepend: site.baseurl }}" alt="The War on Terry" />
            </span>
        </div>
        <div class="4u$ 12u$(medium)">
            <h2 style="margin: 30px 0 30px 0;">
                The War On Terry is on tour!
            </h2>
            <div class="row">
                <div class="8u">
                    <p style="font-size: 1.15rem; text-align: initial;">
                        15th-17th July<br />
                        Underground at The Clubhouse,<br />
                        Buxton Fringe
                    </p>
                    <p style="text-align: initial;">
                        <a target="_blank" href="http://2018.underthefringe.com/shows/war-on-terry">Tickets available NOW!</a>
                    </p>
                </div>
                <div class="4u" style="min-height: 250px; line-height: 250px;">
                    <img
                        src="{{ "/images/fringelogolarge.jpg" | prepend: site.baseurl }}"
                        alt="Buxton Fringe"
                        width="95px"
                        height="185px"
                        style="vertical-align: middle;" />
                </div>
            </div>
            <hr style="margin-top: 5px; margin-bottom: 15px;" />
            <div class="row">
                <p style="font-size: 1.15rem; text-align: initial;">
                    8th-12th August at Landor_Space, London
                </p>
                <span style="margin: 10px;">
                    <img
                        src="{{ "/images/Landor_Space_logo.png" | prepend: site.baseurl }}"
                        alt="Landor Space"
                        width="30%"
                        height="30%" />
                </span>
                <p>
                    <a target="_blank" href="https://www.landorspace.com/war-on-terry">Tickets available NOW!</a>
                </p>
            </div>
        </div>
    </article>

    <!-- Footer -->
    <footer>
        <ul class="actions">
            <li>
                <a href="{{ "/blog/" | prepend: site.baseurl }}" class="button">Our Blog</a>
            </li>
        </ul>
    </footer>
</div>
