<ul class="links">
    <li class="{% if page.url == "/" %} active {% endif %}">
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
    </li>
    <li class="{% if page.url contains '/productions/' %} active {% endif %}">
        <a href="{{ '/productions/' | prepend: site.baseurl }}">Productions</a>
    </li>
    <li class="{% if page.url contains '/contact/' %} active {% endif %}">
        <a href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a>
    </li>
    <li class="{% if page.url contains '/blog/' %} active {% endif %}">
        <a href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a>
    </li>
    <li class="{% if page.url contains '/feedback/' %} active {% endif %}">
        <a href="{{ '/feedback/' | prepend: site.baseurl }}">Feedback</a>
    </li>
    <li class="{% if page.url contains '/elements/' %} active {% endif %}">
        <a href="{{ '/elements/' | prepend: site.baseurl }}">Elements Reference</a>
    </li>
</ul>
